<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fluid Gradient Composer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FE710BF2C8D50F900D2B63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE710D02C8D50FA00D2B63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE710DA2C8D50FA00D2B63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
